@model IEnumerable<TestMVCFrameworkProject.Models.UserClaim>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <button class="btn btn-danger btn-xs delete-button" data-id="@item.Id">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('.delete-button').on('click', function(e) {
                e.preventDefault();
                var userId = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("DeleteUser", "User")',
                    type: 'POST',
                    data: { id: userId },
                    success: function(response) {
                        if (response.success) {
                            location.reload(); // Sayfayı yenilemek
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function() {
                        alert('Error occurred while deleting the user.');
                    }
                });
            });
        });

        //js tarafında Click eventi ile buttona delete fonksiyonunu çağır
    </script>
}
